/* Primary form styling*/
.group            { 
  position:relative; 
  margin-bottom:45px; 
  width: 425px;
}

.group2 {
 position:relative; 
 margin-bottom:45px; 
 margin-left: 200px;
 width: 475px;
}

#outer{ /*same as content class in home.css but without transparency.*/
  background: #fff;
}

.messageArea{
  width: 100%;
  margin-left: 10%;
  margin-top: 60px;
}

.thankMessage{
  width: 80% ;
  text-align:center;
}

h1{
  margin-bottom: -2%;
  margin-top: 0%;
}
p{
  color: #31a2ac;
  font-size: 14px;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:400px;
  border:none;
  border-bottom:1px solid #757575;
}

/*prevents from box being around text entry spot*/
input:focus         
{ 
  outline:none; 
} 

/* Moves placeholder above text entry box */
label                {

  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;

}

/* active state, removes placeholder up preventing it from overlapping input */
input:focus ~ label, input:valid ~ label        {
  top:-20px;
  font-size:14px;
  color:#31a2ac;
}

/* Makes botom bars bold and color */
.bar { 
  position:relative; 
  display:block; 
  width:415px; 
}

.bar:before, .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#31a2ac; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER OVER FORM ANIMATION*/
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#31a2ac; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#31a2ac; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#31a2ac; }
  to    { width:0; background:transparent; }
}


/* Submit button styling */ 
.btn-start-order {
  background: 0 0 #ffffff;
  border: 1px solid #2f323a;
  border-radius: 3px;
  color: #2f323a;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: inherit;
  margin: 30px 0;
  padding: 10px 50px;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
  border-color: #31a2ac;
  color: #31a2ac;
}


/*message text area styling*/
.group textarea {
  display: block;
  width: 415px;
  border: none;
  border-bottom: 1px solid #757575;
  left: 25px;
  padding: 5px;
  font-size: 18px;
  background: none;
  color: #000;
  outline:none; 
}

.group textarea:focus ~ label,
.group textarea:valid ~ label {
  top: -20px;
  transition: all 0.3s ease;
  font-size: 16px;
  color:#31a2ac;
  } /*color specifications*/

/*.group textarea:focus ~ .bar:before,
.group textarea:focus ~ .bar:after {
  width:425px;
  left: 1px;
  }*/ /*colored bar dimensions (specifically length)*/

  .group textarea {
    height: 100px;
    width: 415px;
    overflow: auto;
    resize: none;
    } /*text area box size*/

    .thankYouImg{
      float: left;
      margin-right: 10px;
      width: 30%;
      height:auto;
    }
