.registrationcontrolbutton {
	text-decoration: none;
    float: right;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px 10px 5px 0;
    font-family: Arial;
    text-align: center;
    color: #111;
    background-color: #CCC;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}