/* === User page === */

/* Announcements */
.announcement {
    display: block;
    margin: 1rem;
    box-shadow: 2px 2px 6px #555;
}

.announcement.note {
    background: #60D9D9;
}

.announcement.important {
    background: #FFD071;
}

.announcement h3 {
    margin: 0;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: normal;
}

.announcement.important h3 {
    background: #DF8F00;
}

.announcement.note h3 {
    background: #00AFAF;
}

.announcement p {
    padding: 0 2rem;
    display: inline-block;
}

/* === Admin page === */

#content .adminpane {
    border: 1px solid #aaa;
    margin: 20px 0;
    padding: 5px 15px 15px 15px;
}

h2, h3 {
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
}

/* Nav buttons */

#navbuttons {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 15px;
    box-shadow: 2px 2px 4px #aaa;
    background: #ddd;
    text-align: center;
}

#navbuttons h3 {
    width: 100%;
    margin-top: 5px;
}

#navbuttons a {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

/* Announcement Form */
.form {
    margin-top: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    background: transparent;
}

.form input[type="text"], .form select {
    background-color: white;
}

.form p, .CodeMirror, .editor-toolbar {
    text-align: left;
}

.dropMenu{
    font-size: 14px;
    height: 2.25rem;
    width: 25%;
    margin: 0 10px 10px;
    padding: 9px 10px 9px 10px; /* For some reason these are 2px taller */
    border: none;
    outline: none;
    background: white;
}

.inputField{
    font-size: 14px;
    box-sizing: border-box;
    width: 20%;
    height: 2.5rem;
    margin-bottom: 10px;
    padding: 10px;
    border: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: 0;
    background: white;
}

.bioField {
    display: block; 
    height: 100px;
    width: 99.5%;
    border: none; 
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 15px;
    background: white;
    outline: none;
    overflow: auto;
    resize: none;
}

input[type="file"] {
    display: inline;
}