header.banner {
    background-image: url("../images/dead-poets-society/dps-background1.jpg");
}

.gradientBoxesWithOuterShadows {
    height: 200px;
    width: 400px;
    padding: 20px;
}

ol, ul {
    text-align: left;
}
