.form {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 100px auto 10px;
    padding: 30px;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #fff;
}

.form input[type=text], .form input[type=password] {
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    height: 2.75rem;
    margin-bottom: 10px;
    padding: 10px;
    border: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: 0;
    background: #f2f2f2;
}

.login-background {
    background: url('../images/login.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.login-transbox {
    margin: 30px;
    opacity: 0.8;
    border: 1px solid black;
    background-color: #fff;
    filter: alpha(opacity=60);
}

div.login-transbox p {
    font-weight: bold;
    margin: 2 auto;
    color: #000;
}

.loginWords {
    font-size: 36px;
    color: #12bfc3;
margin-top:-40px;
}

.loginSubmit {
    background-color: #12bfc3;
}

.form .message {
    font-size: 12px;
    margin: 0;
    color: #777;
}

.form .message a {
    text-decoration: none;
    color: #12bfc3;
}

.form .forgot-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:after,
.container:before {
    display: block;
    clear: both;
    content: '';
}

/* SIGN UP PAGE STYLING - DROP DOWNS */

.form select {
    font-size: 14px;
    height: 2.75rem;
    width: 100%;
    margin: 0 0 10px;
    padding: 9px 10px 9px 10px; /* For some reason these are 2px taller */
    border: none;
    outline: none;
    background: #f2f2f2;
}

.form option {
    padding: 100px;
}

.form option {
    padding: 15px;
}

.full
{
    width:100%;
}

.profileWrapper{
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */
}
.profileDescription{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
	width:100%;
	/* styling bellow */
	background-color:black;
	color:white;
	opacity:0.6; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
}
.description_content{
	padding:10px;
	margin:0px;
	font-size: 30px;
}

@media only screen and (max-width : 600px) {
    /*Anything under 600px width will have this applied*/

    .form{
        margin-top: 25px;
    }

  .loginWords{
        font-size: 31px;
        margin-bottom: 20px;
    }
}
