


.gc-mc-background 
{
    background: url('../images/gullcode/gullcode-bws.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

input
{
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: 0;
    background: #f2f2f2;
}

ul.tab {
    list-style-type: none;
       width:500px;
    overflow: hidden;
    background-color: white;
    line-height: 20px;
    border-style: ridge;
    border-color: black;

}

/* Float the list items side by side */
ul.tab li {
	float: left;
	margin-right:12px;
}

/* Style the links inside the list items */
ul.tab li a {
margin: 0 1em 0 0;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 17px;
    color: #12bfc3;;
   border-bottom: 0.5em solid #12bfc3;
   text-decoration: none;
}

.container
{
    position: relative;
    z-index: 1;
    max-width: 500px;
    margin: 0 auto;
}

.container:after,
.container:before {
    display: block;
    clear: both;
    content: '';
}



/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
    border-color: black;
    color:black;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: white;
    color:black;
    border-color:black;
}

/* Style the tab content */
.tabcontent {
  
    padding: 6px 12px;
    
    border-style: ridge;
    border-width:auto;
    background: white;
    border-color: black;
    width:516px;
}


.message {
    font-size: 12px;
    margin: 0;
    color: #777;
    text-align: center;
}