#cols {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.gullcodepic {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

/* GullCode Editable Content */
table#gullcodeContent {
    width: 100%;
    border: none;
}

table#gullcodeContent td {
    width: 33%;
    padding-left: 1em;
    padding-right: 1em;
}

/* GullCode Team Tables */
table#teams {
    border: 3px solid Black;
    border-collapse: collapse;
    width: 100%;
}

table#teams th {
    background-color: Black;
    color: #12BFC3;
    vertical-align: center;
    border: 3px solid Black;
}

table#teams td {
    text-align: left;
    color: Black;
    vertical-align: center;
    border: 3px solid Black;
}

table#teams tr:nth-child(odd) {
    background-color: LightGray;
}

table#teams tr:nth-child(even) {
    background-color:;
}

/* Register for GullCode button */
.GCsessionButton {
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    font-family: Arial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    text-align: center;
    color: #111;
    background-color: #CCC;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.GCsessionButton:hover {
    background: #BBB;
}
