header.banner {
    background: url("../images/gullcode/gullcode-bg.jpg") ;
    text-align: center;
    line-height: 30px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.col3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
}

.block {
    display:inline-block;
}

.gullcodepic {
    border-radius: 8px;
    width: 100%;
    height: auto;
    display:inline-block;
}

/* Register for GullCode button */
.GCsessionButton {
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    font-family: Arial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    text-align: center;
    color: #111;
    background-color: #CCC;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.GCsessionButton:hover {
    background: #BBB;
}

@media only screen and (max-width:1200px) {
    .col3 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;

    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
    }

    .GCsessionButton {
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    font-family: Arial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    text-align: center;
    color: #111;
    background-color: #CCC;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    }

    .block {
    display:inline-block;
    }

    .gullcodepic {
    border-radius: 8px;
    width: 100%;
    height: auto;
    display:inline-block;
    }
}
