body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EEE;
}

.homeImage {
    width:100%;
    height:auto;
}

#main {
    margin-left: 50px;
}

#main #content {
    max-width: 1000px;
    font-size: 16px;
    line-height: 1.6;
    padding: 0 10px;
    margin: 40px auto;
}

#Login {
    text-align: right;
}

div.loginbackground
 {
    position:fixed;
    top: 50%;
    left: 50%;
    width:28em;
    height:12em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -14em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-position: center;
    text-align:center;
    background: url("../images/login.jpg");
    }
div.logintransbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=60); 
}

div.logintransbox p {
    margin:2 auto;
    font-weight: bold;
    color: #000000;
}

#Logout {
    text-align: right;
}

#Dashboard {
    text-align: right;
}

#SignUp {
    text-align: center;
    margin-top: 50%;
} 

#Register {
    text-align: center;
    margin-top: 50%;
}
/*
@media screen and (max-width: 500px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/
