body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EEE;
}

.sidenav,
#main {
    transition: all 0.5s ease-out;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transform: translate(-250px, 0px);
    background-color: #ccc;
}

.sidenav--active {
    transform: translate(0px, 0px);
    background-color: #111;
}

.sidenav #button {
    transform: translate(0px, 0px);
    margin-left: 250px;
    padding: 0px 6px 0px 6px;

    font-size: 40px;
    color: #777;
    cursor: pointer;
}

.sidenav--active #button {
    color: #999;
}

.sidenav > a {
    padding: 8px 0px 8px 16px;
    font-size: 20px;
    display: block;
    margin-right: 50px;
}

.sidenav a {
    text-decoration: none;
    color: #999;
}

.sidenav a:hover,
.sidenav #button:hover,
.offcanvas a:focus {
    color: #12BFC3;
}

#navlinks {
    padding: 16px 0px 16px 0px;
    margin-right: 50px;
    margin-left: 16px;
    overflow: hidden;
}

#navlinks hr {
    border: 1px solid #EEE;
}

.navlinkimgs {
    float: left;
    color: #818181;
    padding-right: 8px;
}

.navlinkimgs span {
    font-size: 40px;
    text-align: center;
}

.homeImage {
    width:100%;
    height:auto;
}

#main {
    margin-left: 50px;
}

#main #content {
    max-width: 1000px;
    font-size: 16px;
    line-height: 1.6;
    padding: 0 10px;
    margin: 40px auto;
}
/*
@media screen and (max-width: 500px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/
