body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}

a {
  text-decoration: none;
  color: #ce8900;
}

a:visited {
  color: #689AAB;
}

#video-container{
    float: right;
}


#main #content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#main {
    margin-left: 50px;
    margin-top: 50px;
}

#main #content {
    max-width: 1000px;
    font-size: 16px;
    line-height: 1.6;
    padding: 10px;
    margin: 40px auto;
    background-color: transparent;
}

.center {
    text-align: center;
    vertical-align: center;
}

/* ==== Button Styling ==== */

input[type="submit"], a.button {
    font-size: 14px;
    line-height: 1;
    width: 100%;
    padding: 9px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    color: #fff;
    border: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: 0;
    background: #12bfc3;
    display: inline-block;
    box-sizing: border-box;
}

input[type="submit"]:hover, a.button:hover {
    background: #129fa3;
}

input[type="submit"].dangerbutton, a.dangerbutton {
    background-color: #BD2D2D;
}

input[type="submit"].dangerbutton:hover, a.dangerbutton:hover {
    background-color: #8B1010;
}

/* ==== CodeMirror Styling === */

.CodeMirror {
  border: 2px solid #ddd;
  height: auto !important;
  line-height: normal;
}

.CodeMirror-fullscreen {
  z-index: 9999 !important;
}

.editor-preview-side {
    z-index: 10000 !important;
}

.fullscreen {
  z-index: 9999 !important;
}

.difflist {
    border: 2px solid #ddd;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;
}

.difftable {
    border: 1px solid grey;
    margin-top: 10px;
}

.diff {
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
}

.diff > input {
    margin-top: 5px;
}

#edit_show_revisions {
  margin-bottom: 10px;
}

/* ==== Diff Styling === */

.Differences {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}

.Differences thead th {
	text-align: left;
	border-bottom: 1px solid #000;
	background: #aaa;
	color: #000;
	padding: 4px;
}
.Differences tbody th {
	text-align: right;
	background: #ccc;
	width: 4em;
	padding: 1px 2px;
	border-right: 1px solid #000;
	vertical-align: top;
	font-size: 13px;
}

.Differences td {
	padding: 1px 2px;
	font-family: Consolas, monospace;
	font-size: 13px;
}

.DifferencesSideBySide .ChangeInsert td.Left {
	background: #dfd;
}

.DifferencesSideBySide .ChangeInsert td.Right {
	background: #cfc;
}

.DifferencesSideBySide .ChangeDelete td.Left {
	background: #f88;
}

.DifferencesSideBySide .ChangeDelete td.Right {
	background: #faa;
}

.DifferencesSideBySide .ChangeReplace .Left {
	background: #fe9;
}

.DifferencesSideBySide .ChangeReplace .Right {
	background: #fd8;
}

.Differences ins, .Differences del {
	text-decoration: none;
}

.DifferencesSideBySide .ChangeReplace ins, .DifferencesSideBySide .ChangeReplace del {
	background: #fc0;
}

.Differences .Skipped {
	background: #f7f7f7;
}

.DifferencesInline .ChangeReplace .Left,
.DifferencesInline .ChangeDelete .Left {
	background: #fdd;
}

.DifferencesInline .ChangeReplace .Right,
.DifferencesInline .ChangeInsert .Right {
	background: #dfd;
}

.DifferencesInline .ChangeReplace ins {
	background: #9e9;
}

.DifferencesInline .ChangeReplace del {
	background: #e99;
}

pre {
	width: 100%;
	overflow: auto;
}


.mathEmpTxt{
    width: 50%;
    float:left;
}
.mathEmpImg{
    width: 45%;
    height: auto;
    float:right;
    padding-bottom: 10px;
    padding-top: 10px;
}

#main #content .mathEmpImg2 {
    margin: 0 auto;
}

.mathEmpBanner {
    background-image: url("../images/math-emporium/mp.jpg") ;
    background-size: cover;
    margin-bottom:20px;
    height: 75px;
    border: 3px solid white;
    text-align: center;
    line-height: 25px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}




/*@media screen and (min-width:320px) and (max-width:640px) {
   for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide 
}
*/
@media only screen and (max-width : 1200px) {
    .mathEmpImg{
        width: 100%;
        float: none;
    }

    .mathEmpTxt{
        width: 100%;
        float: none;
    }
}

@media only screen and (max-width : 600px) {
    /*Anything under 600px width will have this applied*/

    #main {
        margin-left: 50px;
        margin-top: 50px;
    }

    #main #content{ /*for the homepage!*/
        width: 100% ;
        font-size: 10px;
        margin-left: -10px;
    } 

    #dps{
        font-size: 16px;
    }

    #main #content #grad-mobile{
        font-size: 14px;
        margin-left: 10px;
    }

    #resource-mobile{
        font-size: 15px;
        margin-left: 1px;
        margin-top: -5%;
    }

    #resource-mobile > ul{
        margin-left: 10px;
        padding-left: 5%;
    }

    #mentor-mobile{
        font-size: 15px;
    }

    #video-container{
        display:none;
    }

    .mathEmpImg{
        width: 100%;
        float: none;
    }

    .mathEmpTxt{
        width: 100%;
        float: none;
    }

    #calendar-mobile{
        font-size: 15px;
    }

}