header.banner {
    background-image: url("../images/math-challenge/mc-background.jpg");
}

h3
{
    font-size: 20px;

}

.containerz > div{
width:100%;
height:100%;
text-align: justify;

}

.column-left{ float: left; width:45%; display:table; }
.column-right{ float: right; width:45%; display:table; }

.GCsessionButton {
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    font-family: Arial;
    max-width: 100px;
    text-align: center;
    color: #111;
    background-color: #CCC;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.sessionRegistered
{
background: url("../images/message-icons/error.gif") no-repeat ;
    background-color: #CCC;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}


.GCsessionButton:hover {
    background: #BBB;
}

table#teams {
    border: 3px solid Black;
    border-collapse: collapse;
    width: 100%;

}

table#teams th {
    background-color: Black;
    color: #12BFC3;
    vertical-align: center;
    border: 3px solid Black;
    position: relative;
}

table#teams td {
    text-align: left;
    color: Black;
    vertical-align: center;
    border: 3px solid Black;

}

table#teams tr:nth-child(odd) {
    background-color: LightGray;

}

table#teams tr:nth-child(even) {
    background-color:;
}

@media only screen and (max-width : 600px) {
    /*Anything under 600px width will have this applied*/

    .column-left > ul {
        margin-left: -20px;
    }

    .column-right > ul {
        margin-left: -20px;
    }

}
