header {
    background-image: url("../images/math-emporium/mp.jpg") ;
    background-size: cover;
    margin-bottom:20px;
    height: 75px;
    border: 3px solid white;
    text-align: center;
    line-height: 25px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
