.floated_left {
    float: left;
    width: 500px;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
    /* outer shadows  (note the rgba is red, green, blue, alpha) */
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    /* rounded corners */
    -webkit-border-radius: 12px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    /* gradients */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(35%, white), color-stop(100%, #33A1C9));
    background: -moz-linear-gradient(top, white 0%, white 55%, #33A1C9 130%);
}

.floated_right {
    float: left;
    width: 500px;
    margin-top: 25px;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
    /* outer shadows  (note the rgba is red, green, blue, alpha) */
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    /* rounded corners */
    -webkit-border-radius: 12px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    /* gradients */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(35%, white), color-stop(100%, #33A1C9));
    background: -moz-linear-gradient(top, white 0%, white 55%, #33A1C9 130%);
}

.floated_middle {
    float: right;
    width: 300px;
    height: 300px;
    text-align: justify;
    text-justify: inter-word;
    /* outer shadows  (note the rgba is red, green, blue, alpha) */
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    /* rounded corners */
    -webkit-border-radius: 12px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    /* gradients */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(35%, white), color-stop(100%, #33A1C9));
    background: -moz-linear-gradient(top, white 0%, white 55%, #33A1C9 130%);
}

header {
    background: url("../images/math-challenge/mc-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 75px;
    border: 3px solid white;
    text-align: center;
    line-height: 30px;
    color: white;
}

.gradientBoxesWithOuterShadows {
    height: 200px;
    width: 400px;
    padding: 20px;
}

#cols {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
