header {
    background: url("../images/math-challenge/mc-backgrou1nd.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 75px;
    border: 3px solid white;
    text-align: center;
    line-height: 30px;
    color: white;
}


h3
{
    font-size: 20px;

}

.containerz{
height:100%;
width:100%;
text-align: justify;
border-left: 2px dotted #12BFC3;
border-right: 2px dotted #12BFC3;
}
.containerz div{
display: inline-block;
}

.column-left{ float: left; width:45%; }
.column-right{ float: right; width:45%; }

.GCsessionButton {
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    font-family: Arial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    text-align: center;
    color: #111;
    background-color: #CCC;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    /*background-color: #CCC;
    text-align:center;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;*/
}

/*.sessionButton {
    text-align: center;
    color: #111;
    background-color: #CCC;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}*/

.sessionRegistered
{
background: url("../images/message-icons/error.gif") no-repeat ;
    background-color: #CCC;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}


.GCsessionButton:hover {
    background: #BBB;
}

table#teams {
    border: 3px solid Black;
    border-collapse: collapse;
    width: 100%;
}

table#teams th {
    background-color: Black;
    color: #12BFC3;
    vertical-align: center;
    border: 3px solid Black;
}

table#teams td {
    text-align: left;
    color: Black;
    vertical-align: center;
    border: 3px solid Black;
}

table#teams tr:nth-child(odd) {
    background-color: LightGray;
}

table#teams tr:nth-child(even) {
    background-color:;
}
