.mentorpic {
    border-radius: 50% !important;
    display: block;
    overflow: hidden;
    margin: 0 auto;
        width:  auto;
        height: auto;
}

#mentorpic_container {
    width: 200px;
    height: 200px;
}

table #mentors {
    max-width: 100%;
    margin: 0 auto;
}

table #mentors th {
    text-align: center;
    text-decoration: underline;
}

table #mentors td {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
}

.mentorinfo {
    width: 50%;
    height:200px;
    font-size: 20px;
    border-radius: 8px;
    border: 3px solid #333;
}
