header {
    background: url("../images/mentors/mentor-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 75px;
    border: 3px solid white;
    text-align: center;
    line-height: 30px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}


.mentorpic {
    border-radius: 50% !important;
    display: block;
    margin: 0 auto;
    width:  200px;
    height: auto;
}

table #mentors {
    max-width: 100%;
    margin: 0 auto;
}

table #mentors th {
    text-align: center;
    text-decoration: underline;
}

table #mentors td {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
}

.mentorinfo {
    width: 50%; 
    height:200px; 
    font-size: 20px; 
    border-radius: 8px;
    border: 3px solid #333;
}
