header.banner {
    background-image: url("../images/mentors/mentor-bg.jpg");
}

.col3 {
    -webkit-column-count: 3;
    -moz-column-count: 3; 
    column-count: 3;

   -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
}

.block {
    display:inline;
}

h2 
{
	text-align: center;
	text-decoration: underline;
}

.mentorpic {
    border-radius: 50% !important;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0;
}

@media only screen and (max-width:1200px) {
    .col3 {
    -webkit-column-count: 1;
    -moz-column-count: 1; 
    column-count: 1;

    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
    }

    .block {
    display:inline-block;
	}

	h2 
	{
	text-align: center;
	text-decoration: underline;
	}

	.mentorpic {
    border-radius: 50% !important;
    width: 200px;
    height: 200px;
    display:inline-block;
    margin: 0;
	}
}
