.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    margin-bottom: 6em;
    left: 25em;
}

.circle-container a {
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 8em;
    height: 8em;
    margin: -2em;
    border-radius: 50%;
}

.groupPic {
    width: 70%;
    height: 70%;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    right: 6.5em;
    top: 5.6em;
}

.circle-container img {
    display: block;
    width: 100%;
}

.president {
    transform: rotate(270deg) translate(14em) rotate(-270deg);
}

.treasurer {
    transform: rotate(167deg) translate(14em) rotate(-167deg);
}

.webMaster {
    transform: rotate(115.571deg) translate(14em) rotate(-115.571deg);
}

.secretary {
    transform: rotate(12.713deg) translate(14em) rotate(-12.713deg);
}

.representative {
    transform: rotate(321.429deg) translate(14em) rotate(-321.329deg);
}

.vicePresident {
    transform: rotate(218.429deg) translate(14em) rotate(-218.429deg);
}

.DPS {
    transform: rotate(64.142deg) translate(14em) rotate(-64.142deg);
}

/*Speech Bubbles*/
.bubble 
{
    position: relative;
    width: 300px;
    height: 400px;
    padding: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 9px;
    left: 20em;
    bottom: 25em;
    text-align: justify;
}

.bubble:after 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 99px 16px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -16px;
    left: -99px;
    top: 26%;
}

.bubble:before 
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 24px 107px 24px 0;
    border-color: transparent #7F7F7F;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -24px;
    left: -116px;
    top: 26%;
}