header.banner {
    background-image: url("../images/officers/office.jpg");
}

/* STYLING FOR OFFICERS CIRCLE */
.circle-container {
    position: relative;
    margin: auto;
    margin-top:3em;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    margin-bottom: 6em;
}

.officer {
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 8em;
    height: 8em;
    margin: -2em;
    left: 12.7em;
    border-radius: 50%;
}

.groupPic {
    width: 70%;
    height: 70%;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    top: 5.6em;
}

.circle-container img {
    display: block;
    width: 100%;
}

#president {
    transform: rotate(270deg) translate(14em) rotate(-270deg);
}

#treasurer {
    transform: rotate(167deg) translate(14em) rotate(-167deg);
}

#webMaster {
    transform: rotate(115.571deg) translate(14em) rotate(-115.571deg);
}

#secretary {
    transform: rotate(12.713deg) translate(14em) rotate(-12.713deg);
}

#representative {
    transform: rotate(321.429deg) translate(14em) rotate(-321.329deg);
}

#vicePresident {
    transform: rotate(218.429deg) translate(14em) rotate(-218.429deg);
}

#DPS {
    transform: rotate(64.142deg) translate(14em) rotate(-64.142deg);
}

/* Styling for hidden bio box */
#info {
    width: 100%;
    max-width: 950px;
    margin: auto;
}
#officer-bio {
    margin: auto;
    max-width: 550px;
    height: 350px;
    padding: 15px;
    border-radius: 8px;
    border: 3px solid #333;
    text-align: justify;
}

#default {
    height: 12em;
}

.bio {
    display: none;
}

/* CLUB ADVISOR STYLING */
.advisor {
    position: relative;
    bottom: 16em;
}
.advisorPic {
    overflow: hidden;
    width: 10em;
    height: 10em;
    margin: -2em;
    border-radius: 50%;
}

#advisor1 {
    float: left;
}

#advisor2 {
    float: right;
}

.advisorInfo {
    margin-top: 2.5em;
    position: relative;
    text-align: center;
}

.advisorInfo h3 {
    margin: 0px;
}

.advisorInfo h4 {
    margin-top: 7px;
}

@media only screen and (max-width : 1100px) {
    #advisors {
        position: relative;
        top: 22em;
        margin-left: 5em;
        margin-right: 5em;
    }
}
