#main #content {
  margin-top: 75px;
}

#left_column > img {
    width: 90%;
    display: block;
    margin: auto;
}

#left_column {
  float:left;
  max-width: 25%;
}

#right_column {
  float:right;
  width: 70%;
}

@media (max-width: 600px) {
    #left_column {
        float: none;
        max-width: 100%;
    }

    #right_column {
        float: none;
        width: 100%;
    }
}

#right_column > div {
  border-style: solid;
  border-width: thin;
  border-radius: 2px;
  border-color: #aaa;
  padding: 10px;
  margin-bottom: 10px;
}

#right_column h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

#user_info {
  overflow: auto;
}

#to_my_profile {
  max-width: 300px;
}

#profile_image {
    margin-bottom: 10px;
}

.profile_button {
    margin-bottom: 10px;
}

/* === forms.css OVERRIDES === */

.form {
    margin: 0;
    z-index: 0;
}

input[type="file"] {
    display: none;
}

.profile_image_upload {
    background: #12bfc3;
    border-radius: 60px;
    display: inline-block;
    padding: 6px 8px;
    cursor: pointer;
    position: inherit;
    margin-top: -3rem;
}

.profile_image_upload:hover {
    background: #129fa3;
}
