body
{
	background: #f1f1f1;

}

ul
{
	list-style:none;
	border:0;
	padding:0;
	margin:0;
}

li
{
	transition: 0.1s ease all;
	text-decoration:none;
	color:black;
	background:#fff;
	display:block;
	border: 1px solid #c1c1c1;
	padding:10px;
	margin-top:-1px;
	position:relative;
}

li:hover
{
	border:1px solid #888;
	z-index:9999;
}
