#main,
.sidenav {
    transition: all 0.2s ease-out;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transform: translate(-250px, 0px);
    background-color: #333;
}

.sidenav--active {
    transform: translate(0px, 0px);
    background-color: #111;
}

.sidenav #button {
    transform: translate(0px, 0px);
    margin-left: 250px;
    padding: 5px 0;
    font-size: 40px;
    color: #777;
    cursor: pointer;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
}

.sidenav--active #button {
    color: #999;
}

.sidenav #button > i {
    display: block;
}

.sidenav > a {
    padding: 8px 0 8px 16px;
    font-size: 20px;
    display: block;
    margin-right: 50px;
}

.sidenav a {
    text-decoration: none;
    color: #999;
}

.offcanvas a:focus,
.sidenav #button:hover,
.sidenav a:hover {
    color: #12BFC3;
}

#navlinks {
    padding: 16px 0;
    margin-right: 50px;
    margin-left: 16px;
    overflow: hidden;
}

#navlinks hr {
    border: 1px solid #EEE;
}

.navlinkimgs {
    float: left;
    color: #818181;
    padding-right: 8px;
}

.navlinkimgs span {
    font-size: 40px;
    text-align: center;
}
