#topnav {
    position: fixed;
    width: 100%;
    background-color: #DDD;
}

#topnav #sessiondata {
    color: black;
}

#sessiondata,
#topnav .sessionButton {
    text-decoration: none;
    float: right;
    font-size: 1rem;
    padding: 10px 20px;
    margin: 5px 10px 5px 0;
    font-family: Arial;
}

#topnav .sessionButton {
    text-align: center;
    background-color: #CCC;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #003366;
}

#topnav .sessionButton:hover {
    background: #12BFC3;
    color: #ffffff;
}
