#topnav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 50px;
    background-color: #31a2ac;
    z-index: 999;
}

#topnav #sessiondata {
    color: black;
}

#topnav #sessiondata a {
  color: #0A318A;
}

#topnav #sessiondata a:visited {
  color: #0A318A;
}

#sessiondata,
#topnav .sessionButton {
    text-decoration: none;
    float: right;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px 10px 5px 0;
    font-family: Arial;
}

#topnav .sessionButton {
    text-align: center;
    color: #111;
    background-color: #CCC;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#topnav .sessionButton:hover {
    background: #BBB;
}

#topnav #mobile-dropdown{
    float: right;
    display: none;
    color: #fff;
    margin-right: 0.5rem;
}

/* For mobile phones: */
/*Anything under 600px width will have this applied*/
@media only screen and (max-width : 600px) {

#topnav #topnav-mobile {
    box-shadow: 0px 0px 10px black;
}

#topnav #mobile-toggle {
    display: none;
    clear: both;
    border-bottom: 4px solid white;
    overflow: auto;
    background-color: #31a2ac;
}

  #sessiondata,
#topnav .sessionButton {
    text-decoration: none;
    float: right;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0;
    font-family: Arial;
    width: calc(100% - 50px);
    box-sizing: border-box;
    color: white;
    border-top: 4px solid white;
    background-color: #31a2ac;
    border-radius: 0;
}

#topnav .sessionButton {
    }

#topnav .sessionButton:hover {

}

#topnav #mobile-dropdown{
    font-size: 50px;
    display: inherit;
}

}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
