#topnav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 50px;
    background-color: #31a2ac;
    z-index: 999;
}

#topnav #sessiondata {
    color: black;
}

#topnav #sessiondata a {
  color: #0A318A;
}

#topnav #sessiondata a:visited {
  color: #0A318A;
}

#sessiondata,
#topnav .sessionButton {
    text-decoration: none;
    float: right;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px 10px 5px 0;
    font-family: Arial;
}

#topnav .sessionButton {
    text-align: center;
    color: #111;
    background-color: #CCC;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#topnav .sessionButton:hover {
    background: #BBB;
}
