body {
    font-family: 'Open Sans', sans-serif;
}

.sidenav,
#main {
    transition: all 0.5s ease-out;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transform: translate(-200px, 0px);
}

.sidenav--active {
    transform: translate(0px, 0px);
    background-color: #111;
}

.sidenav #button {
    transform: translate(0px, 0px);
    margin-left: 200px;
    padding: 6px 10px 0px 10px;

    font-size:30px;
    color: #818181;
    cursor:pointer;
}

.sidenav a {
    padding: 8px 0px 8px 16px;
    margin-right: 50px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

.sidenav a:hover,
.sidenav #button:hover,
.offcanvas a:focus {
    color: #12BFC3;
}

#navlinks{
padding: 8px 8px 8px 32px;
position: fixed;
 bottom: 0;
}
.navlinkimgs{
    width: 40px;
    float:left;
}

.homeImage{
    width:100%;
    height:auto;
}

#main {
    margin-left: 50px;
    float: left;
    text-align: center;
}

#main #content {
    max-width: 60%;
    margin: auto;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
